<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Settings</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />
  
</head>
<body class="office">

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui container" style="margin-top:100px">

<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- ejs -->
  
  	<% include ../partials/sidebar.ejs %>
  
  <!-- ejs -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
	
	
	<table class="ui very basic fixed table" id='settings-table'>
  <thead>
    <tr>
      <th class="seven wide">Option</th>
      <th class="seven wide">Setting</th>
      <th class="two wide">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <div class="ui pointing below red label"> General </div> </td>
      <td></td>
      <td> <div class="ui red basic label"> Admins </div> </td>
    </tr>
    <tr>
      <td>Community rate</td>
      <td> <%= settings[0].community_rate; %></td>
		<td>
			<a class='edit' href="javascript:void(0)" id='2edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='2save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='2cancel'><i class="cancel icon"></i></a>
		</td>
    </tr>
    <tr>
      <td>Team rate</td>
      <td> <%= settings[0].team_rate; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='3edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='3save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='3cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td>Project rate</td>
      <td> <%= settings[0].project_rate; %></td>
      <td> 
			<a class='edit' href="javascript:void(0)" id='4edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='4save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='4cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td>% per curation</td>
      <td> <%= settings[0].curator_rate; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='5edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='5save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='5cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td>Vote message</td>
      <td> <%= settings[0].common_comment; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='6edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='6save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='6cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td> <div class="ui pointing below yellow label"> Bot rate </div> </td>
      <td></td>
      <td> <div class="ui yellow basic label"> Owner </div> </td>
    </tr>
    <tr>
      <td>Holiday</td>
      <td> <%= settings[0].bot_holiday; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='8edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='8save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='8cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td>Holiday days</td>
      <td> <%= settings[0].holiday_days; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='9edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='9save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='9cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td>Daily curation</td>
      <td> <%= settings[0].daily_curation; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='10edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='10save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='10cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
    <tr>
      <td>Vote interval minutes</td>
      <td> <%= settings[0].vote_interval_minutes; %></td>
      <td>
			<a class='edit' href="javascript:void(0)" id='11edit'><i class="id edit icon"></i> Edit</a>
			<a class="ui save circular mini green icon button" style='display:none' href="javascript:void(0)" id='11save'><i class="check icon"></i></a>
			<a class="ui cancel circular mini red icon button" style='display:none' href="javascript:void(0)" id='11cancel'><i class="cancel icon"></i></a>
	  </td>
    </tr>
  </tbody>
</table>
	
	
	</div>

</div>

</div>

	
	<script src="/build/dist/scripts.js"></script>
	<script src="/build/dist/settings.js"></script>
  

  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  

</body>

</html>